@font-face {
  font-family: SourceCodePro;
  src: url("res/SourceCodePro-Regular.otf") format("opentype");
}
@font-face {
  font-family: TexGyreCursor;
  src: url("res/texgyrecursor-regular.otf") format("opentype");
}
@font-face {
  font-family: TexGyrePagella;
  src: url("res/texgyrepagella-regular.otf") format("opentype");
}
@font-face {
  font-family: LibreBaskerville;
  src: url("res/LibreBaskerville-Regular.otf") format("opentype");
}
@font-face {
  font-family: Fjord;
  src: url("res/FjordOne-Regular.otf") format("opentype");
}

body {
  #font-family: "Liberation Sans", "Helvetica", "Arial", sans-serif;
  #font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  #font-family: "Fjord", serif;
  #font-family: "TexGyrePagella", serif;
  font-family: "LibreBaskerville", serif;
  font-size: 36px;
  color: rgb(48, 48, 96);
}

.whitetext {
  color: white;
}

.reveal h1 {
  font-size: 64px;
  padding-bottom: 1em;
}

.reveal h2 {
  font-size: 32;
  padding-bottom: 1em;
  padding-top: -2em;
}

.reveal p {
  margin: 15px auto;
  text-align: left;
  width: 90%;
}

.reveal pre.console {
  border-top: 0px;
  border-bottom: 0px;
}

.reveal pre code {
  font-family: SourceCodePro;
  padding: 0px;
}

.reveal pre.console code {
  color: grey;
  font-size: 20px;
}

html.first body {
  background-image: url(res/standalone.svg);
  background-size: 768px 768px;
  background-repeat: no-repeat;
}

.whitetext {
  color: white;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #C9C9C9;
}

.reveal section.dither {
  background: rgba(0, 0, 0, 0.4);
  #border: 1pt solid black;
}

.reveal section.opaque {
  background: rgba(255, 255, 255, .96);
  border: 1pt solid white;
}

a, a:visited {
  color: #303060;
}

a:hover {
  color: #4040ff;
}

.reveal div ul li {
  padding-top: 1ex;
  padding-bottom: 1ex;
}

html.docker body {
  background: #71AFC0;
}

.reveal ul, .reveal ul ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section > ul > li > p:before {
  content: "\25ba\00a0";
}

.reveal li li {
  text-align: right;
  font-size: smaller;
  font-style: italic;
}

.reveal section.spaceps p {
  padding-bottom: 1em;
}

i.fa {
  font-family: FontAwesome;
  font-style: normal;
}

i.fa-2x {
  font-size: 2em;
}

.doclinks a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

.progress {
  height: 3px;
  bottom: 0px;
  left: 0px;
  position: fixed;
}

.progress span {
  background-color: lightgrey;
}

.reveal .slide-number {
  left: 15px;
  text-shadow: 0 1px white, 1px 0 white, -1px 0 white, 0 -1px white;
}
